.u-padding-both, .banner-split__column--right {
  padding-left: 15px;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .u-padding-both, .banner-split__column--right {
      padding-left: 35px;
      padding-right: 35px; } }
  @media only screen and (min-width: 1024px) {
    .u-padding-both, .banner-split__column--right {
      padding-left: calc(100 / 1400 * 100%);
      padding-right: calc(100 / 1400 * 100%); } }
  @media only screen and (min-width: 1400px) {
    .u-padding-both, .banner-split__column--right {
      padding-left: 100px;
      padding-right: 100px; } }

.u-padding-left, .hero__column--left {
  padding-left: 15px; }
  @media only screen and (min-width: 768px) {
    .u-padding-left, .hero__column--left {
      padding-left: 35px; } }
  @media only screen and (min-width: 1024px) {
    .u-padding-left, .hero__column--left {
      padding-left: calc(100 / 1400 * 100%); } }
  @media only screen and (min-width: 1400px) {
    .u-padding-left, .hero__column--left {
      padding-left: 100px; } }

.u-padding-right {
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .u-padding-right {
      padding-right: 35px; } }
  @media only screen and (min-width: 1024px) {
    .u-padding-right {
      padding-right: calc(100 / 1400 * 100%); } }
  @media only screen and (min-width: 1400px) {
    .u-padding-right {
      padding-right: 100px; } }

.u-bg-grey, .banner-split__column--right, .button-link::before {
  background-color: #f8f8f8; }

.u-bg-red, .banner-split__list__item::before, .hero__label {
  background-color: #ff5735; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.tablet {
  display: none; }
  @media only screen and (min-width: 768px) {
    .tablet {
      display: block; } }

.desktop {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .desktop {
      display: block; } }

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

img {
  border-style: none;
  display: block; }

input,
button,
select,
optgroup,
textarea,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
select {
  text-transform: none; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Formular-Regular';
  src: url(/fonts/Formular-Regular.otf); }

@font-face {
  font-family: 'Formular-Medium';
  src: url(/fonts/Formular-Medium.otf); }

@font-face {
  font-family: 'Formular-Light';
  src: url(/fonts/Formular-Light.otf); }

@font-face {
  font-family: 'Formular-Bold';
  src: url(/fonts/Formular-Bold.otf); }

@font-face {
  font-family: 'Formular-Black';
  src: url(/fonts/Formular-Black.otf); }

@font-face {
  font-family: 'Futura';
  src: url(/fonts/FuturaPTExtraBold.otf); }

body {
  font-family: "Formular-Regular", Arial, Helvetica, sans-serif;
  color: #6D6C6C;
  font-size: 1.6rem;
  line-height: 30px; }

.typography-body--reg {
  font-size: 1.4rem;
  line-height: 28px; }

.typography-body--sm, .button, .link {
  font-size: 1.4rem;
  line-height: 28px; }

.typography-body--lg, .hero__label__copy {
  font-size: 1.8rem;
  line-height: 24px; }

.heading-style, .typography-heading--1, .typography-heading--2, .banner-split__heading, .banner-split__body__heading, .typography-heading--3, .hero__label__heading {
  font-family: "Formular-Bold", Arial, Helvetica, sans-serif;
  color: #0c0a09; }

.typography-heading--1 {
  font-size: 3rem;
  line-height: 38px; }
  @media only screen and (min-width: 768px) {
    .typography-heading--1 {
      font-size: 3.8rem;
      line-height: 48px; } }
  @media only screen and (min-width: 1024px) {
    .typography-heading--1 {
      font-size: 4.8rem;
      line-height: 58px; } }

.typography-heading--2, .banner-split__heading, .banner-split__body__heading {
  font-size: 2.8rem;
  line-height: 34px; }
  @media only screen and (min-width: 768px) {
    .typography-heading--2, .banner-split__heading, .banner-split__body__heading {
      font-size: 3.2rem;
      line-height: 50px; } }
  @media only screen and (min-width: 1024px) {
    .typography-heading--2, .banner-split__heading, .banner-split__body__heading {
      font-size: 3.6rem; } }

.typography-heading--3, .hero__label__heading {
  font-size: 2rem;
  line-height: 30px; }

.container {
  margin: 0 auto;
  max-width: 1400px; }
  .container--wide {
    max-width: 100%; }

@media only screen and (min-width: 1024px) {
  .row {
    display: flex;
    flex-flow: row nowrap; } }

@media only screen and (min-width: 1024px) {
  .col--left {
    flex: 0 0 auto;
    width: calc(714 / 1400 * 100%); } }

@media only screen and (min-width: 1024px) {
  .col--right {
    flex: 0 0 auto;
    width: calc(686 / 1400 * 100%); } }

.header__container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 15px; }

.header__logo {
  height: 46px;
  overflow: hidden;
  width: 84px; }

.header__logo-img {
  height: 46px;
  max-width: 100%;
  width: 100%; }

.header__item {
  display: inline-block; }
  .header__item.tablet {
    display: none; }
    @media only screen and (min-width: 768px) {
      .header__item.tablet {
        display: inline-block; } }
  .header__item:not(:last-child) {
    padding-right: 60px; }

.header__link {
  display: inline-block;
  line-height: 1; }

@media only screen and (min-width: 1024px) {
  .banner-split__container {
    align-items: flex-end; } }

@media only screen and (min-width: 1024px) {
  .banner-split__column--left {
    padding-left: calc(105 / 1400 * 100%); } }

.banner-split__column--right {
  padding-bottom: 60px;
  padding-top: 40px; }
  @media only screen and (min-width: 768px) {
    .banner-split__column--right {
      padding-top: 52px; } }
  @media only screen and (min-width: 1024px) {
    .banner-split__column--right {
      padding-top: 188px; } }

@media only screen and (min-width: 768px) {
  .banner-split__heading {
    text-align: center; } }

.banner-split__list__items {
  padding-left: 23px; }
  @media only screen and (min-width: 768px) {
    .banner-split__list__items {
      margin: 0 auto;
      max-width: 370px; } }

.banner-split__list__item {
  margin-top: 32px;
  position: relative; }
  .banner-split__list__item::before {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    height: 8px;
    left: 0;
    margin-top: 13px;
    margin-left: -23px;
    top: 0;
    width: 8px; }

@media only screen and (min-width: 1024px) {
  .banner-split__img-wrap {
    padding-top: 66.22951%; } }

.banner-split__body__copy {
  padding-top: 25px; }

.hero__container {
  padding-top: 40px; }

.hero__column--left {
  padding-bottom: 40px;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .hero__column--left {
      padding-bottom: 56px; } }
  @media only screen and (min-width: 1024px) {
    .hero__column--left {
      padding-bottom: 0;
      padding-top: 65px; } }

.hero__column--right {
  position: relative; }

.hero__heading {
  max-width: calc(290 / 305 * 100%); }
  @media only screen and (min-width: 768px) {
    .hero__heading {
      max-width: calc(510 / 733 * 100%); } }
  @media only screen and (min-width: 1024px) {
    .hero__heading {
      max-width: calc(450 / 614 * 100%); } }
  @media only screen and (min-width: 1400px) {
    .hero__heading {
      max-width: 450px; } }

.hero__copy {
  max-width: calc(290 / 305 * 100%);
  padding-top: 25px; }
  @media only screen and (min-width: 768px) {
    .hero__copy {
      max-width: calc(332 / 733 * 100%); } }
  @media only screen and (min-width: 1024px) {
    .hero__copy {
      max-width: 350px; } }
  @media only screen and (min-width: 1200px) {
    .hero__copy {
      max-width: 370px; } }

.hero__link {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .hero__link {
      bottom: 0;
      display: inline-block;
      margin-bottom: 8px;
      position: absolute; } }

.hero__media-wrap {
  position: relative; }

.hero__img-wrap {
  padding-top: 73.125%; }
  @media only screen and (min-width: 768px) {
    .hero__img-wrap {
      padding-top: 73.04688%; } }
  @media only screen and (min-width: 1024px) {
    .hero__img-wrap {
      padding-top: 79.23977%;
      min-height: 542px; } }

.hero__img {
  max-width: 100%; }
  @media only screen and (min-width: 1024px) {
    .hero__img {
      min-height: 100%;
      max-width: none; } }

.hero__label {
  color: #fff;
  height: 219px;
  position: absolute;
  right: 0;
  top: 0;
  width: 246px;
  margin-right: 80px;
  margin-top: -128px;
  transition: 0.25s ease-in-out; }
  @media only screen and (min-width: 1024px) {
    .hero__label {
      bottom: 0;
      left: 0;
      right: auto;
      top: auto;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 43px;
      margin-left: calc(130 / 686 * 100% * -1);
      z-index: 1; } }
  .hero__label__wrapper {
    min-height: 100%;
    min-width: 100%;
    padding: 33px 26px 40px;
    position: relative; }
  .hero__label__heading {
    color: #fff; }
  .hero__label__price {
    font-size: 42px;
    line-height: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 26px;
    margin-bottom: 40px; }
    .hero__label__price span {
      font-size: 24px;
      padding-right: 8px; }

.button {
  color: #fff;
  padding: 15px 38px;
  background-color: #ff5735; }

.button-link {
  color: #ff5735;
  cursor: pointer;
  padding: 10px 17px 12px;
  position: relative; }
  .button-link::before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 84px;
    z-index: -1;
    transition: 0.3s ease-in-out; }
  .button-link:hover::before {
    width: 100%; }

.u-image-wrap {
  overflow: hidden;
  position: relative; }
  .u-image-wrap .u-image {
    left: 50%;
    display: block;
    height: auto;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto; }
