// Colors
$c-black: #000;
$c-white: #fff;

$c-alabaster: #f8f8f8;
$c-alto: #d0d0d0;
$c-dusty-gray: #959595;
$c-dusty-gray-light: lighten($c-dusty-gray, 10%);
$c-cod-gray:#0c0a09;
$c-cod-gray-light: #6D6C6C;

$c-duo-orange: #ff5735;
$c-duo-orange-light: lighten($c-duo-orange, 30%);

// Screen sizes
$bp: (
	'sm': 320px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1200px,
	'xxl': 1400px
);

$min-site-width: 320px;
$max-site-width: 1400px;

$transition: 0.33s;