.container {
	margin: 0 auto;
	max-width: $max-site-width;
	padding-left: 15px;
	padding-right: 15px;

	@include mq('md') {
		padding-left: 35px;
		padding-right: 35px;
	}

	@include mq('lg') {
		padding-left: 100px;
		padding-right: 100px;
	}

	@include modifier('wide') {
		max-width: 100%;
	}
}

.row {
	@include mq('lg') {
		display: flex;
		flex-flow: row nowrap;
	}
}

.col {
	@include mq('lg') {
		flex: 0 0 50%;
		width: 50%;
	}
}