// container 
.container {
	margin: 0 auto;
	max-width: $max-site-width;

	@include modifier('wide') {
		max-width: 100%;
	}
}

// two colomn layout
.row {
	@include mq('lg') {
		display: flex;
		flex-flow: row nowrap;
	}
}

.col {
	// .col--left
	@include modifier('left') {
		@include mq('lg') {
			flex: 0 0 auto;
			width: calc(714 / 1400 * 100%);
		}
	}

	// .col-right
	@include modifier('right') {
		@include mq('lg') {
			flex: 0 0 auto;
			width: calc(686 / 1400 * 100%);
		}
	}
}

.u-padding-both {
	@extend %padding-both;
}

.u-padding-left {
	@extend %padding-left;
}

.u-padding-right {
 @extend %padding-right;
}