// .header
@include block('header') {

	//.header__container
	@include element('container') {
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding-top: 15px;

		@include mq('md') {
			padding-top: 28px;
		}
	}

	// .header__logo
	@include element('logo') {
		height: 46px;
		overflow: hidden;
		width: 84px;
	}

	// .header__logo-img
	@include element('logo-img') {
		height: 46px;
		max-width: 100%;
		width: 100%;
	}

	// .header__nav
	@include element('nav') {}

	//. header__items
	@include element('items') {}

	//. header__item
	@include element('item') {
		display: inline-block;

		&.tablet {
			display: none;

			@include mq('md') {
				display: inline-block;
			}
		}

		&:not(:last-child) {
			padding-right: 60px;
		}
	}

	//. header__link
	@include element('link') {
		display: inline-block;
		line-height: 1;
	}
}

// .footer
@include block('footer') {
	@extend %bg-grey;
	margin-top: 100px;

	// .footer__container
	@include element('container') {
		padding: 40px 0 60px;
	}

	// .footer__logo
	@include element('logo') {
		height: 46px;
		overflow: hidden;
		margin: 0 auto;
		width: 79px;
	}

	// .footer__logo-img
	@include element('logo-img') {
		height: 46px;
		max-width: 100%;
		width: 100%;
	}

	// .footer__nav
	@include element('nav') {
	}

	//. footer__items
	@include element('items') {
		display: flex;
		flex-flow: row wrap;
	}

	//. footer__item
	@include element('item') {
		display: inline-block;
		text-align: center;
		width: 100%;
		padding-top: 36px;
		flex: 0 0 100%;
	}

	//. footer__link
	@include element('link') {
		text-align: center;
	}
}