// .banner-split
@include block('banner-split') {

	// .banner-split__container
	@include element('container') {
	}

	// .banner-split__column
	@include element('column') {
		// .banner-split__column--left
		@include modifier('left') {
		}

		// .banner-split__column--right
		@include modifier('right') {
		}
	}

	// .banner-split__heading
	@include element('heading') {
		@extend .typography-heading--2;
	}

	// .banner-split__list
	@include element('list') {

		// .banner-split__list__items
		@include child('items') {
			padding-left: 23px;

			@include mq('md') {
				margin: 0 auto;
				max-width: 370px;
			}
		}

		// .banner-split__list__item
		@include child('item') {
			margin-top: 32px;
			position: relative;

			&::before {
				@include pseudo;
				@extend %bg-red;
				height: 8px;
				left: 0;
				margin-top: 13px;
				margin-left: -23px;
				top: 0;
				width: 8px;
			}
		}
	}

	// .banner-split__img-wrap
	@include element('img-wrap') {
	}

	// .banner-split__img
	@include element('img') {
	}

	// .bunner-split__body
	@include element('body') {

		// .bunner-split__body__heading
		@include child('heading') {
			@extend .typography-heading--2;
		}

		// .bunner-split__body__copy
		@include child('copy') {
			padding-top: 25px;

			@include mq('md') {
				max-width: calc(669 / 698 * 100%);
			}

			@include mq('lg') {
				max-width: 422px;
			}
		}
	}

	// .bunner-split__features
	@include element('features') {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 105px;

		@include mq('md') {
			padding-top: 120px;

			@include mq('lg', $type: 'max') {
				padding-left: calc((100vw - 488px) / 2);
				padding-right: calc((100vw - 488px) / 2);
			}
		}

		@include mq('lg') {
			padding-bottom: 165px;
			padding-top: 175px;
			padding-left: calc(100 / 686 * 100%);
			padding-right: calc(100 / 686 * 100%);
		}
	}
}

// MODIFIERS
// .banner-split--list
@include block('banner-split') {
	@include modifier('list') {
		.banner-split {
			&__container {
				@include mq('lg') {
					align-items: flex-end;
				}
			}

			&__column {
				&--left {
					@extend %padding-left;
				}

				&--right {
					@extend %bg-grey;
					@extend %padding-both;
					padding-bottom: 60px;
					padding-top: 40px;
		
					@include mq('md') {
						padding-top: 52px;
					}

					@include mq('lg') {
						padding-bottom: 113px;
						padding-top: 188px;
					}
				}
			}

			&__heading {
				@include mq('md') {
					text-align: center;
				}
			}

			&__image-wrap {
				@include mq('lg') {
					@include responsive-img(610, 404);
				}
			}
		}
	}
}

// .banner-split--features
@include block('banner-split') {
	@include modifier('features') {
		.banner-split {
			&__column {
				&--left {
					@extend %padding-both;
					padding-top: 103px;

					@include mq('md') {
						padding-top: 50px;
					}

					@include mq('lg') {
						background-color: $c-alabaster;
						padding-top: 165px;
					}
				}
			}
		}
	}
}

// .banner-split--video
@include block('banner-split') {
	@include modifier('video') {
		.banner-split {
			&__container {
				@include mq('lg') {
					align-items: flex-start;
				}
			}

			&__column {
				&--left {
					@extend %padding-both;
					padding-top: 40px;

					@include mq('md') {
						padding-top: 64px;
					}

					@include mq('lg') {
						padding-top: 140px;
					}
				}
			}

			&__image-wrap {
				@include responsive-img(320, 225);

				@include mq('md') {
					@include responsive-img(618, 434);
				}

				@include mq('lg') {
					@include responsive-img(686, 482);
				}
			}
		}
	}
}