// .carousel
@include block('carousel') {
	// .carousel__intro
	@include element('intro'){
		@extend %bg-grey;
		@extend %padding-left;
		padding-bottom: 170px;
		padding-right: 20px;
		padding-top: 40px;

		@include mq('md') {
			padding-bottom: 345px;
			padding-right: 65px;
			padding-top: 80px;
		}

		@include mq('lg') {
			padding-bottom: 190px;
			padding-top: 129px;
			padding-right: calc(112 / 1440 * 100%);
		}
	}

	// .carousel__heading
	@include element('heading'){
		@extend .typography-heading--2;

		@include mq('lg') {
			padding-right: calc(106 / 1188 * 100%);
		}
	}

	// .carousel__copy
	@include element('copy'){
		padding-top: 24px;

		@include mq('lg') {
			padding-left: calc(125 / 1228 * 100%);
			padding-top: 8px;
		}
	}

	// .carousel__slider
	@include element('slider') {
		margin-top: -86px;

		@include mq('md') {
			margin-top: -260px;
		}

		@include mq('lg') {
			margin-top: -92px;
		}

		// .carousel__slider__item
		@include child('item') {
			&:nth-child(3n + 1) {
				width: 293px;

				@include mq('md') {
					width: 553px;
				}
			}

			&:nth-child(3n + 2) {
				width: 254px;

				@include mq('md') {
					width: 440px;
				}
			}

			&:nth-child(3n + 3) {
				width: 308px;

				@include mq('md') {
					width: 574px;
				}
			}
		}

		// .carousel__slider__image
		@include child('image') {
			min-width: 100%;
			max-width: 100%;
		}

		// .carousel__slider__nav
		@include child('nav') {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			margin-left: auto;
			margin-right: 15px;
			margin-top: 40px;
			position: relative;
			width: 178px;
			z-index: 2;

			@include mq('md') {
				margin-top: 70px;
				margin-right: 80px;
			}

			@include mq('lg') {
				margin-top: 76px;
				margin-right: auto;
				margin-left: calc(100 / 1440 * 100%);
			}
		}

		// .carousel__slider__button
		@include child('button') {
			border: 1px solid $c-duo-orange;
			position: static;
			height: 36px;
			display: inline-block;
			margin-top: 0;
			transition: $transition * .75 ease-in-out;

			// .carousel__slider__button--prev
			@include modifier('prev') {
				width: 52px;

				&:hover {
					@include mq('lg') {
						background-color: $c-duo-orange;

						.carousel__slider__arrow-left {
							fill: $c-white;
						}
					}
				}
			}

			// .carousel__slider__button--next
			@include modifier('next') {
				background-color: $c-duo-orange;
				width: 106px;

				&:focus,
				&:active {
					outline-color: $c-white;

					@include mq('lg') {
						outline-color: transparent;
					}
				}

				&:hover {
					@include mq('lg') {
						background-color: $c-white;

						.carousel__slider__arrow-right {
							fill: $c-duo-orange;
						}
					}
				}
			}
		}

		// .carousel__slider__arrow-left
		@include child('arrow-left') {
			fill: $c-duo-orange;
			height: 12px;
			width: 22px;
			transition: $transition * .75 ease-in-out;
		}

		// .carousel__slider__arrow-right
		@include child('arrow-right') {
			fill: $c-white;
			height: 12px;
			width: 42px;
			transition: $transition * .75 ease-in-out;
		}
	}
}