// .features
@include block('features') {
	// .features__container
	@include element('container') {
		@include mq('md') {
			display: flex;
			flex-flow: row-reverse nowrap;
		}
	}

	// .features__left
	@include element('left') {
		padding-top: 40px;

		@include mq('md') {
			flex: 1 1 auto;
			padding-right: 63px;
			padding-top: 0;
		}
	}

	// .features__right
	@include element('right') {
		position: relative;

		@include mq('md') {
			flex: 0 0 auto;
			max-width: 154px;
		}
	}

	// .features__heading
	@include element('heading') {
		@extend .typography-heading--3;

		@include mq('md') {
			padding-right: 20px;
		}
	}

	// .features__copy
	@include element('copy') {
		@extend .typography-body--sm;
		padding-top: 25px;
	}

	// .features__butotns-wrap
	@include element('buttons-wrap') {
		margin-left: -15px;
		margin-right: -15px;

		@include mq('md') {
			margin: 0;
		}
	}

	// .features__butotns
	@include element('buttons') {
		-ms-overflow-style: none;
		margin-top: 40px;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;

		@include mq('md') {
			display: flex;
			flex-flow: row wrap;
			margin-top: 0;
			overflow: auto;
			white-space: unset;
		}

		&::-webkit-scrollbar {
			background-color: transparent;
			display: none;
		}
	}

	// .features__button
	@include element('button') {
		background: $c-concrete;
		display: inline-block;
		height: 73px;
		margin-right: 2px;
		width: 73px;

		@include mq('md', $type: 'max') {
			&:first-child {
				margin-left: 15px;
			}
			&:last-child {
				margin-right: 15px;
			}
		}

		@include mq('md') {
			margin: 2px;
		}

		@include state('active') {
			animation: fade-in $transition * 2 ease;
			background: $c-duo-orange;
		}
	}

	// .features__icon
	@include element('icon') {
		fill: $c-white;
		max-height: 36px;
		max-width: 36px;
	}
}