// Custom Fonts
@font-face {
	font-family: 'Formular-Regular';
	src: url(/fonts/Formular-Regular.otf);
}
@font-face {
	font-family: 'Formular-Medium';
	src: url(/fonts/Formular-Medium.otf);
}
@font-face {
	font-family: 'Formular-Light';
	src: url(/fonts/Formular-Light.otf);
}
@font-face {
	font-family: 'Formular-Bold';
	src: url(/fonts/Formular-Bold.otf);
}
@font-face {
	font-family: 'Formular-Black';
	src: url(/fonts/Formular-Black.otf);
}
@font-face {
	font-family: 'Futura';
	src: url(/fonts/FuturaPTExtraBold.otf);
}